<body>
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img
          src="../assets/images/Logo-fotor-bg-remover-20230913223022.png"
          width="40"
          height="40"
          class="d-inline-block"
          alt=""
        />
        BeyondLimits
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Insumos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link" href="#"
              ><span class="fa-solid fa-user"></span> Sign Up</a
            >
          </li>
          <li>
            <a class="nav-link" href="#"
              ><span class="fa-solid fa-right-to-bracket"></span> Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="bg-gradient-black-grey">
    <div class="conteiner">
      <img src="../../../assets/images/Fondo.png" class="img-fluid" alt="" />
    </div>
  </main>
  <footer class="bg-dark p-3">
    <div class="container text-center">
      <nav class="d-flex justify-content-evenly">
        <a href="https://facebook.com" target="_blank"
          ><i class="bi bi-facebook fs-3"></i
        ></a>
        <a href="https://instagram.com" target="_blank"
          ><i class="bi bi-instagram fs-3"></i
        ></a>
        <a
          href="https://api.bi-whatsapp.com/send?phone=543464580239.com"
          target="_blank"
          ><i class="bi bi-whatsapp fs-3"></i
        ></a>
        <a href="https://m.me/mateotosello.com" target="_blank"
          ><i class="bi bi-messenger fs-3"></i
        ></a>
      </nav>
      <small class="text-white">
        &copy; 2023 @mateotosello. Hecho con fines de aprendizaje
      </small>
    </div>
  </footer>
</body>
