<body>
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img
          src="../assets/images/Logo-fotor-bg-remover-20230913223022.png"
          width="40"
          height="40"
          class="d-inline-block"
          alt=""
        />
        BeyondLimits
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Insumos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link" href="#"
              ><span class="fa-solid fa-user"></span> Sign Up</a
            >
          </li>
          <li>
            <a class="nav-link" href="#"
              ><span class="fa-solid fa-right-to-bracket"></span> Login</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="bg-gradient-black-grey">
    <div class="conteiner p-3">
      <section class="row align-items-lg-left">
        <article class="col-12 col-md-6 col-xl-3 d-flex">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn bi bi-search bg-dark text-white"
              type="submit"
            ></button>
          </form>
        </article>
        <article class="col-12 col-md-6 col-xl-3 d-flex">
          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            Agregar
            <i class="bi bi-plus-lg"></i>
          </button>
        </article>
        <article class="col-12 col-md-6 col-xl-3 d-flex">
          <button type="button" class="btn btn-primary">
            Modificar
            <i class="bi bi-pencil-square"></i>
          </button>
        </article>
        <article class="col-12 col-md-6 col-xl-3 d-flex">
          <button type="button" class="btn btn-danger">
            Borrar
            <i class="bi bi-dash-lg"></i>
          </button>
        </article>
      </section>
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Alta de productos</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">Modal body..</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="conteiner">
      <section id="" class="row align-items-lg-center min-vh-100">
        <article class="col-12 col-md-6 col-xl-3 d-flex">
          <div class="card mx-auto my-3" style="width: 18rem">
            <img
              src="../../../assets/images/Foca.jpg"
              class="card-img-top img-thumbnail"
              alt="Foca"
            />
            <div class="card-body">
              <h5 class="card-title">Foca</h5>
              <p>Decoracion para la casa</p>
              <div class="d-grid col-6 mx-auto">
                <button class="btn btn-success bi bi-bag" type="button">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </article>
        <article class="col-12 col-md-6 col-xl-3 d-flex h-100 border">
          <div class="card mx-auto my-3" style="width: 18rem">
            <img
              src="../../../assets/images/ClipCerrador.jpg"
              class="card-img-top img-thumbnail"
              alt="Clip"
            />
            <div class="card-body">
              <h5 class="card-title">Bag clip</h5>
              <p class="card-text">
                Cierre hermético para bolsas Rápido y reutilizable
              </p>
              <div class="d-grid col-6 mx-auto">
                <button class="btn btn-success bi bi-bag" type="button">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </article>
        <article class="col-12 col-md-6 col-xl-3 d-flex border">
          <div class="card h-100 mx-auto mb-3" style="width: 18rem">
            <img
              src="../../../assets/images/Lagartija.jpg"
              class="card-img-top img-thumbnail"
              alt="Flujo de trabajo"
            />
            <div class="card-body">
              <h5 class="card-title">Lagartija articulada</h5>
              <p class="card-text">Divertida lagartija articulada.</p>
              <div class="d-grid col-6 mx-auto">
                <button class="btn btn-success bi bi-bag" type="button">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </article>
        <article class="col-12 col-md-6 col-xl-3 d-flex border">
          <div class="card mx-auto my-3 h-100" style="width: 18rem">
            <img
              src="../../../assets/images/MiniWarehouse.jpg"
              class="card-img-top img-thumbnail"
              alt="MiniWarehouse"
            />
            <div class="card-body">
              <h5 class="card-title">MiniWarehouse</h5>
              <p class="card-text">
                Utilízalo para guardar cualquier cosa. Totalmente personalizable
                a tu gusto.
              </p>
              <div class="d-grid col-6 mx-auto">
                <button class="btn btn-success bi bi-bag" type="button">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </main>
  <footer class="bg-dark p-3">
    <div class="container text-center">
      <nav class="d-flex justify-content-evenly">
        <a href="https://facebook.com" target="_blank"
          ><i class="bi bi-facebook fs-3"></i
        ></a>
        <a href="https://instagram.com" target="_blank"
          ><i class="bi bi-instagram fs-3"></i
        ></a>
        <a
          href="https://api.bi-whatsapp.com/send?phone=543464580239.com"
          target="_blank"
          ><i class="bi bi-whatsapp fs-3"></i
        ></a>
        <a href="https://m.me/mateotosello.com" target="_blank"
          ><i class="bi bi-messenger fs-3"></i
        ></a>
      </nav>
      <small class="text-white">
        &copy; 2023 @mateotosello. Hecho con fines de aprendizaje
      </small>
    </div>
  </footer>
</body>
